.body{
  margin-top:50px;
  font-family: "Arial, Helvetica, sans-serif";
}


.header-container {
  /* position: fixed; 
  /* top: 0;
  left: 0;  */ 
  width: 100%;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px;
  background-color: #fff; 
  position: sticky;
  top: 0;

 
}

.search-container {
  display: flex;
  width: 600px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.search-icon {
  width: 60px;
  height: 55px;
  border-radius: 8px;
  background-color: transparent;
}

.search-input {
  border-radius: 8px;
  border: none;
  width: 100%;
  background-color: transparent;
  font-size: 18px;
  padding-left: 10px;
}

.login-container, .cart-container, .become-seller-container {
  padding-top: 20px;
  margin: 10px;
}

.login, .cart, .become-seller {
  margin-left: 5px;
}

.menu-container {
  position: relative;
  top: 20px; 
  
}

.menu {
  width: 30px;
  border: none;
  border-radius: 10px;
 
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.custom-dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: black;
}

.dropdown-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.body-section1-container{
  margin-top: 6%;
  background-color: rgba(249, 242, 242, 0.988);
  box-shadow: 0 0 4px rgba(0,0,0,0.1);

  padding: 10px;

}

.body-container{
  margin-top: 20px;
  background-color: rgba(249, 242, 242, 0.988);
 

  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.section1-container{
  margin-top: 10%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  
}

.section1-card{
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
 box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  transition: transform 0.2s;
 

}
.section1-card:hover{
  transform: scale(1.05);
}

.section1-card-img{
  
  border-radius: 8px;
  width: 80px;
  height: 80px;
}

.section1-card-name{
  color: black;
  font-size: 18px;
  font-weight: bold;
  padding-top: 4px;
  font-family: "Bree Seif";

}
.section2-container{
  margin-top: 1%;
  margin-top: 10%;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
  padding: 10px;

}

.section3-top-container
{
  background-color: white;
  border-radius: 10px;
  width: 80%;
}
.section3-row{
  display: flex;
  width: 100%;
}
.product-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section3-container-heading{
  padding-left: 3%;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: bold;
  padding-top: 2%;
}
.next-icon{
  width: 40px;
  height: 40px;
  margin: 30px;
}

.section3-container{
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  justify-content: center;
   margin: 10px;
   padding: 10px;
 
  

}

.section3-card{
  padding: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
 
    margin: 10px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  transition: transform 1.2ms;

}
.section3-card:hover{

  transform: scale(1.05);

}
.section3-card-img{
  display: block;
  width:200px;
  height: 150px;
  cursor: pointer;
}
.section3-card-name{
  font-family: "Roboto";

}
.section3-card-price{
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
}
.section3-second-container{
  width: 20%;
  padding: 10px;
}
.section3-second-img{
  width: 250px;
  height: auto;

}


.section4-row{
  display: flex;
 

}




.section4-card-img{
  width: 500px;
}

.section5-container{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
 
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.section5-heading{
  font-family: "Roboto";
  margin-left: 2%;
  font-weight: bold;
  
}

.section6-container{
  width: 40%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.section6-heading{
  margin-left: 2%;
  font-family: "Roboto";
  font-weight: bold;
}

.section6-first-container{
  
  border-radius: 10px;
}
.fashion-container{
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.fashion-card{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  cursor: pointer;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}
.fashion-card-img{
  width: 200px;
  border-radius: 10px;
  padding: 8px;
}

.fashion-card-name{
  font-size: 22px;
  font-weight: bold;

  font-family: "Roboto";
}

.fashion-card-offer{
  color: green;
  font-size: 20px;
  font-weight: bold;
  font-family: "Breef Serif";
}
.section6-row{
  display: flex;
  width: 100%;
}

.section6-container-second{
  width: 60%;

  padding: 10px;
}

.section7-container{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);

}

.section7-heading{
  margin-left: 2%;
  font-family: "Roboto";
  font-weight: bold;

}

.section7-container-cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
  
}

.section7-card {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
 padding: 10px;
 width: 250px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.section7-card-info {
  margin-top: 10px;
}

.section7-card-img {
  width: 200px; 
  height: auto;
}

.section7-card-name{
  font-family: "Roboto";
  
}
.section7-card-price{
  font-size: 18px;
  font-family: "Roboto";
  
  font-weight: bold;
}

.section8-container{
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);

}

.section8-heading{
  margin-left: 2%;
  font-family: "Roboto";
  font-weight: bold;

}

.section8-container-cards{
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 10px;
  margin: 10px;
}

.section8-card{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
 padding: 10px;
 width: 250px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);

}

.section8-card-img{
  width: 200px; 
  height: 200px;
  border-radius: 10px;
  
}
.section8-card-img:hover{
  cursor: pointer;
}
.section8-card-name{
  font-family: "Roboto";
  font-size: 16px;


}
.section8-card-price{
  font-size: 18px;
  font-weight: bold;
}

.section9-img{
  border-radius: 10px;
}

.section10-img{
  border-radius: 10px;
}
.section12-row{
  display: flex;
flex-wrap: nowrap; 
gap: 10px;
}

.section12-container{
  width: 34%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
}
.section12sub-container{
  width: 34%;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,0.1);
  
}



.section12-container-second{
  width: 32%;
  padding-top: 10px;
}
.section12-container-second-img{
  border-radius: 10px;
}

.section13-container{
  margin-left: 1%;
}

.section13-img {
  border-radius: 10px;
}

.footer-container{
  margin-top: 5%;
  padding-top: 1%;
  

  background-color: #0a0101;
  color: white;
border-bottom: 5px;
  
}

.about{
  color: grey;
}

.copy-right-logo{
  background: transparent;
  width: 20px;
} 

